In [ ]:
print("ADIOS MI GENTE!")

In [ ]:
# variables
name = "felipe"
age = 27

In [ ]:
name

In [ ]:
last_name = "martin"

In [ ]:
name

In [ ]:
name = "amarillo"

In [ ]:
name

In [ ]:
#operador matematico
number1 = 10
number2 = 5

result_sum = number1 + number2
result_subtraccion = number1 - number2
result_multiplication = number1 * number2
result_division = number1 / number2

In [ ]:
print(f"Resultado de la suma: {result_sum}")

In [ ]:
print(f"Resultado de la resta: {result_subtraccion}")
print(f"Resultado de la multiplicación: {result_multiplication}")
print(f"Resultado de la división: {result_division}")

In [ ]:
day = input("Ingrese el día de la semana: ")
if day=="lunes":
    print("Hoy es lunes")
else:
    print("Hoy no es lunes")

In [ ]:
# condicionales encadenados para el fin de semana
day = input("Ingrese el día de la semana: ")
if day=="sabado":
    print("Hoy es sabado")
elif day=="domingo":
    print("Hoy es domingo")
else:
    print("Hoy no es sabado ni domingo")

In [ ]:
# condicionales anidados
day = input("Ingrese el día de la semana: ")
hora = input("ingrese la hora (formato HH:MM): ")

if day == "sabado":
    if hora == "03:00":
        print("TENGO QUE IR A CLASES")
    else:
        print("no tengo clases a esta hora")
else:
    print("no tengo clases hoy")

In [ ]:
#operadores logicos

In [ ]:
# condicionales anidados
day = input("Ingrese el día de la semana: ")
hora = input("ingrese la hora (formato HH:MM): ")

if (day == "sabado") and (hora == "03:00"):
    print("TENGO QUE IR A CLASES")
else:
    print("ya no tengo clases")

In [ ]:
#listas
names = ["jose", "maria", "pedro"]
ages = [25, 30, 22]
peso = [7.52, 60, 80]

In [ ]:
#           01223456
#         ...-4-3-2-1
last_name = "amarillo"

In [ ]:
last_name.lower()

In [ ]:
name[0:2]

In [ ]:
last_name[2]

In [ ]:
last_name[0:3]

In [ ]:
last_name[0]

In [ ]:
last_name[-1]

In [ ]:
names[0]

In [ ]:
names[0:3]

In [ ]:
names.append("luis")

In [ ]:
names

In [ ]:
#tuplas

In [ ]:
len(names)

In [ ]:
names.insert(1, "ruperto")

In [ ]:
#cambia el nombre de la posicion 1 por marta
names[1] = "marta"

In [ ]:
names

In [ ]:
#tuplas de nombres
nombres = ("jose",
        "marta",
        "pedro")

In [ ]:
#tuplas con numeros y caracteres
tuple_2 =(20, "pedro", 7.5)

In [ ]:
tuple_2[1]

In [63]:
#diccionarios
dict1 = {
    "nombre": "jose",
    "edad": 20,
    "peso": 90.89,
    "comidas": ["arepa", "empanada", "parrillada"],
    "claves": {
                "clave": "12345",
                "netflix":"clave",
    }}

In [64]:
#ciclo for
for variable in names:
    print(variable)

jose
marta
maria
pedro
luis

In [ ]:
#ciclo for
for variable in names:
    print(variable)

jose
marta
maria
pedro
luis

In [74]:
#ciclo for
for variable in range(len(names)):
    print(names[variable])

jose
marta
maria
pedro
luis

In [67]:
#ciclo for
for cualquier_cosa in range(7):
    print(cualquier_cosa)

0
1
2
3
4
5
6

In [77]:
#buscar a luis en el conjunto de datos
for i in range(len(names)):
    if names[i] == "luis":
        print("Se encontró a José en la posición:", i)

Se encontró a José en la posición: 4

In [76]:
names

['jose', 'marta', 'maria', 'pedro', 'luis']